* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	color: #2a2a2a;
}

/* element specific styling */
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: 2px;		
}
h2 {
	font-size: 16px;
	margin-bottom: 20px;
}
h3 {
	font-size: 14px;
}
.intro {
	font-style: italic;
}
p {
	margin: 18px 0;
	line-height: 15px;
}
a {
	text-decoration: none;
	color: #969696;
}


/* layout */
#main {
	margin: 0 auto;
	white-space: nowrap;
}

/* left content (large background image) */
#left-content {
}
/* let's make the entire background photo a link back to home */
#left-content a {
	display: block;
	height: 100%;
}
#left-content .content-holder {
	margin-top: 231px;
	max-width: 447px;
	width: 100%;
	padding-left: 50px;
	float: right;
}
#left-content .content-holder h1 {
	text-indent: -9999px;
	text-transform: uppercase;		
	background: url("../images/tiny-horse-logo-white.png") no-repeat;
	width: 227px;
	height: 20px;
	margin: 0;
}


/* right content (where the site copy lives) */
#right-content {

}
#right-content .content-holder {
	/*background-color: green;*/
	float: right;
	/*max-width: 475px;*/
	max-width: 600px;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;		
}

/* add an equal amount of space below the content as above */
#right-content .content-holder footer {
	height: 125px;
}

/* main nav */
#main-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 48px;
	margin-bottom: 125px;
}
#main-nav li {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	padding-bottom: 6px;
	letter-spacing: 2px;
	white-space: nowrap;
}
#main-nav li.last {
	padding-bottom: 0;
}

#main-nav li.selected a,
#main-nav a:hover {
	color: #fed900;
}


/* hide the additional page content */
#right-content .team-content,
#right-content .case-studies-content,
#right-content .contact-info-content {
	display: none;
}


/* the home page */
.home-content {
	margin-right: 125px;
}

#site-counter {
	padding-top: 10px;	
}
#site-counter .total {
	font-weight: 600;
	letter-spacing: 2px;
	color: #1f1f1f;
}
#site-counter p {
	color: #969696;
	font-size: 11px;
	font-style: italic;
	margin-top: 8px;		
}


/* case studies page */
.case-studies-content .intro {
	margin-bottom: 70px;
}

.case-studies-content form {
	padding-left: 2px;
}

.case-studies-content input[type="text"] {
	display: block;
	width: 345px;
	height: 28px;
	padding: 0 3px;
}

.case-studies-content label {
	display: block;
	font-style: italic;
	color: #969696;
	padding: 5px 0 18px 1px;
}

.case-studies-content input[type="submit"] {
	margin-top: 25px;
}

.case-studies-content .thank-you-msg {
	font-size: 11px;	
	font-style: italic;
	padding-left: 10px;
	display: none;
}


/* contact info page */
.contact-info-content h5 {
	font-size: 13px;
	margin-top: 15px;
	margin-bottom: 8px;
}

.contact-info-content p {
	margin: 0;
}	

.contact-info-content .tel {
	display: block;
}

.contact-info-content .la-address p {
	font-style: normal;
}

.contact-info-content .la-address p .tel {
	font-style: normal;
}

.contact-info-content .main-phone h5 {
	margin-top: 30px;
	margin-bottom: 5px;
}



#right-container {	
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
	min-width: 675px;
}	

#left-container {
	float: left;
	width: 100%;
	position: relative;
	right: 55%;

	background: url("../images/home-background.jpg") top right;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	transition: background-size 2s ease-in;
	-moz-transition: background-size 2s ease-in;
	-ms-transition: background-size 2s ease-in;
	-o-transition: background-size 2s ease-in;
	-webkit-transition: background-size 2s ease-in;
}

#left-content {
	float: left;
	position: relative;
	left: 55%;
	width: 45%;
	overflow: hidden;
}	

#right-content {
	float: left;
	position: relative;
	left: 55%;
	width: 55%;
	max-width: 673px;
	overflow: hidden;
}

